
spring:
  datasource:
    username: postgres
    password: 0
    url: jdbc:postgresql://localhost:5432/todo
  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  thymeleaf:
    cache: false
server:
  port: 8050
